body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2029&q=80");
}


.main{
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid rgba(235, 4, 4, 0.771); */
    /* flex-wrap: wrap; */
    /* padding: 10px; */
    width:  99%;
}


.heading{
    display: flex;
    /* border: 1px solid orange; */
    width: 20rem;
    height: 70rem;
    flex-direction: column;
}

.body{
    display: flex;
    border: 1px solid rgb(116, 255, 23);
    width: 100%;
    height: 70rem;
    margin-top: 6rem;
    padding: 50px;
    justify-content: center;
}

.title {
    display: flex;
    /* border: 1px solid blue; */
    width: 100%;
    height: 8rem;
    justify-content: center;
}

.sidebar{
    display: flex;
    /* border: 1px solid blue; */
    width: 100%;
    height: 62rem;
    justify-content: center;
}

.inputs{
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}


#addbutton{
    display: flex;
    /* border: 1px solid green; */
    justify-content: center;
    width: auto;
    height: 50px;
}

.books{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

[id^="book_"]{
    /* border: 1px solid white; */
    height: 10rem;
    width: 10rem;
}

.popup{

}

.inputelements{
    border: 2px solid rgb(7, 0, 0);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 2rem;
    gap: 2rem;
    font-size: 25px;
    width: 30rem;
    color: black;
}


.bookadd{
    display: flex;
    margin-top: 10%;
    /* border: 1px solid green; */
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 180px;
    height: 50px;
    
    background-color: var(--light-theme);
    cursor: pointer;
    font-size: 18px;
    color: rgb(254, 240, 255);

  
    text-align: center;
    overflow: hidden;
  
    border-radius: 5px;
    box-shadow: 0 6px 30px -10px rgba(#b3a6a6, 1);
    
}

.textlabel{
    padding: 1rem;
    display: flex;
    justify-content: center;
}


input{
    width: 100%;
    height: 2rem;
    font-size: 20px;
}